
@keyframes fondo-fade{
  0%{background-color: rgba(0, 0, 0, 0.259);}
  33%{background-color: rgba(0, 0, 0, 0.389);}
  66%{background-color: rgba(240, 240, 8, 0.389);}
  100%{background-color: rgba(0, 0, 0, 0.259);}
}